include LICENSE
include README.en.md
include README.md
include requirements.txt

recursive-include service *
recursive-include tests *
recursive-include docs *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]