[Unit]
Description=A-Ops gala-anteater service
After=network.target

[Service]
Type=exec
ExecStart=/bin/bash -c "source /opt/miniconda3/etc/profile.d/conda.sh && conda activate anteater && gala-anteater"
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target